form{
    padding: 2%;
    outline: 2px solid black;
}

button{
    margin: 2% 15% 0% 85% !important;
}

p{
    display: inline-block;
    font-size: 10pt;
}

.row{
    margin-bottom: 2% !important;
}

.container{
    margin-top: 5%;
}

